# Python Sets
Set is collection of data that stored in one variable by <i>unordered</i>, thus can't be referred to by index or key.<br>
Set items are <i>unchangeable</i>, meaning that we cannot change the items after the set has been created. But can remove items and add new items. <br>
Set also <i>not allow duplicated</i> data. Set cannot stored two items with the same value.</br>
But set <i>can stored various data type</i> like number, string and boolean. 

<b>How to Create a Set ?</b>
<br>Set create with <i>curly brackets</i> <b>{ }</b><br>
If items in the tuple is string, the items must to assign with <i>quotation marks</i>, either with single (<b>' '</b>) or double (<b>" "</b>) quotation marks. And if the items is number or boolean, no need to assign with quotation marks. <br>
Each item <i>separated by a comma (<b>,</b>).</i>

##### Rule : <b>variable = {"items_1", "items_2", "items_3", . . . }</b>

### Example

In [19]:
this_set = {5,5,4,4,4,4,5,5,5,2,2,3,3,3}

print(this_set)
type(this_set)

{2, 3, 4, 5}

set

In [20]:
myset = {"apple", "banana", "cherry"}

print(myset)
type(myset)

{'apple', 'cherry', 'banana'}

set

<br>

### Set - Access Set Items
<hr>
Sets difference with list and tuple, they when access the items by reference the index. But in set can't reference the index. <br>

In [21]:
set1 = {"apple", "banana", 1, 2, 4, True}

print(set1)

{1, 'apple', 2, 4, 'banana'}

In [22]:
print(set1[2])

TypeError: 'set' object is not subscriptable

<i> set can't access the item with reference the index. </i>

<br>

### Set - Add Item
<hr>
Once a set is created, can't change its items. But allowed add new items.<br>
rule : <b>current_set.add("new_item")</b>

In [23]:
fruit = {"apple", "banana", "cherry"}

# before using add function
print("before : ", fruit)

before :  {'apple', 'cherry', 'banana'}

In [24]:
fruit.add("kiwi")

# after using add function
print("after : ", fruit)

after :  {'apple', 'cherry', 'banana', 'kiwi'}

In [25]:
tropical = {"pineapple", "mango", "papaya"}

# before using add function
print("before : ", tropical)

before :  {'mango', 'pineapple', 'papaya'}

In [26]:
tropical.add(23.5)

# after using add function
print("after : ", tropical)

after :  {'mango', 'pineapple', 'papaya', 23.5}

<br>

### Set - Union 
<hr>
The <i>union()</i> method can returns a new set containing all items from one set with another set. <br>
The <i>union()</i> will exclude any duplicate items. <br>
rule : <b>new_variable = set1.union(set2)</b>

In [27]:
fruit = {"apple", "banana", "cherry"}
tropical = {'banana', 'pineapple', 'papaya', 'mango', 23.5}

new_fruit = fruit.union(tropical)
print(new_fruit)

{'apple', 'cherry', 'mango', 'pineapple', 'banana', 'papaya', 23.5}

In [28]:
num = {5,5,4,4,4}

new_set = new_fruit.union(num)
print(new_set)

{'apple', 'cherry', 4, 5, 'pineapple', 'mango', 'banana', 'papaya', 23.5}

<br>

### Set - Intersaction
<hr>
the <i>intersection()</i> method will return a new set, that only contains the items that are present in both sets.<br>
rule : <b>new_variable = set1.intersaction(set2)</b>

In [29]:
fruit = {"apple", "banana", "cherry"}
tropical = {'banana', 'pineapple', 'papaya', 'mango', 23.5}

new_fruit = fruit.intersection(tropical)
print(new_fruit)

{'banana'}

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

<br>

### Set - Remove Item
<hr>
To remove an item in a set, use the <i>remove()</i> function.<br>
rule : <b>current_set.remove("item")</b>

In [31]:
thisset = {"apple", "banana", "cherry"}

# before using remove function
print("before : ", thisset)

before :  {'apple', 'cherry', 'banana'}

In [32]:
thisset.remove("banana")

# after using remove function
print("after : ", thisset)

after :  {'apple', 'cherry'}