# Python Tuples

Tuple is collection of data that stored in one variable by <i>ordered sequence</i>. <br>
Tuple <i>unchangeable</i> the data in the variable.<br>
Tuple allow to <i>stored with varios data type</i> like number, string and boolean with <i>duplicate</i> item.<br>
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

<b>How to create a Tuple ?</b><br>
Tuple create with <i>round brackets</i> <b>( )</b>. <br>
If items in the tuple is string, the items must to assign with <i>quotation marks</i>, either with single (<b>' '</b>) or double (<b>" "</b>) quotation marks. And if the items is number or boolean, no need to assign with quotation marks. <br>
Each item <i>separated by a comma (<b>,</b>).</i>
<br>
##### Rule : <b>variable = ("items_1", "items_2", "items_3", . . . )</b>

### Example

In [1]:
this_tuple = ("apple", "banana")

print(this_tuple)
type(this_tuple)

('apple', 'banana')

tuple

In [2]:
tuple_too = ("abc", 34, True, 40, "male")

print(tuple_too)
type(tuple_too)

('abc', 34, True, 40, 'male')

tuple

<br>

### Tuple - Access Tuple Items
<hr>
To be able access the tuple items by reference to the index number, in square brackets. <b>Remember that the first item has index 0.</b><br>
<li><b>x[0]</b> it means to take the earliest element, with index 0 from list x</li>
<li><b>x[5]</b> it means to take element with index 5 from list x.</li>
<li><b>x[-1]</b> it means to take the last element of list x.</li>
<li><b>x[3:5]</b> it means to take element in list x with index 3 to before index 5 (excluding elements with index 5, in this case only index 3-4).</li>
<li><b>x[:5]</b> it means to take element in the earliest list x until before index 5 (excluding elements with index 5, in this case only index 0-4).</li>
<li><b>x[-3:]</b> it means to take elements in list x starting at index 3 from the back to the very end.</li>
<li><b>x[1:7:2]</b> it means to take elements in list x with index 1 to before index 7, with <i>step</i> 2 (in this case only indexes 1, 3, 5)</li>

In [3]:
mytuple = ("apple", "banana", "cherry", 1, 5, 7, 9, 3, "abc", 34, True, 40)

print(mytuple)

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3, 'abc', 34, True, 40)

In [4]:
# access element in list with 1 parameter
print("mytuple[2] =",mytuple[2])
print("mytuple[-10] =",mytuple[-10])

mytuple[2] = cherry
mytuple[-10] = cherry

In [5]:
# access element in list with 2 parameter
print("mytuple[1:9] =",mytuple[1:9])
print("mytuple[:4] =",mytuple[:4])
print("mytuple[-4:] =",mytuple[-4:])

mytuple[1:9] = ('banana', 'cherry', 1, 5, 7, 9, 3, 'abc')
mytuple[:4] = ('apple', 'banana', 'cherry', 1)
mytuple[-4:] = ('abc', 34, True, 40)

In [6]:
# access element in list with 3 parameter
print("mytuple[:12:2] =",mytuple[:12:2])
print("mytuple[1:10:3] =",mytuple[1:10:3])

mytuple[:12:2] = ('apple', 'cherry', 5, 9, 'abc', True)
mytuple[1:10:3] = ('banana', 5, 3)

<br>

### Tuple - Join
<hr>
To join two or more tuple can use with "<b>+</b>" operator. <br>
rule : <b>new_tuple = tuple_1 + tuple_n</b>

In [7]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

# before using join tuple
print("tuple1", tuple1)
print("tuple2", tuple2)

tuple1 ('a', 'b', 'c')
tuple2 (1, 2, 3)

In [8]:
tuple3 = tuple1+tuple2

# after using join tuple
print("tuple3", tuple3)

tuple3 ('a', 'b', 'c', 1, 2, 3)

In [9]:
fruit = ("apple", "banana", "cherry")
food = ("rice", "omelette", "noodle")

# before using join tuple
print("fruit", fruit)
print("food", food)

fruit ('apple', 'banana', 'cherry')
food ('rice', 'omelette', 'noodle')

In [10]:
tuple4 = fruit+food

# after using join tuple
print("tuple4", tuple4)

tuple4 ('apple', 'banana', 'cherry', 'rice', 'omelette', 'noodle')

<br>

### Tuple - Multiply
<hr>
To copy all item in tuple can use "<b>*</b>" operator. <br>
rule : <b>new_tuple = current_tuple * n</b>

In [11]:
fruit = ("apple", "banana", "cherry")

# before using multiply tuple
print(fruit)

('apple', 'banana', 'cherry')

In [12]:
new_fruit = fruit*3

# after using multiply tuple
print(new_fruit)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [13]:
num = (1, 5, 7, 9, 3)

# before using multiply tuple
print(num)

(1, 5, 7, 9, 3)

In [14]:
new_num = num*5

# after using multiply tuple
print(new_num)

(1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3)

<br>

### Tuple - Update
<hr>
Tuples are unchangeable, meaning that cannot change, add, or remove items once the tuple is created. But there is a workaround, with <i>convert the tuple into a list, change the list, and convert the list back into a tuple.</i>

In [15]:
x = ("apple", "banana", "cherry")

# print tuple
print(x)
type(x)

('apple', 'banana', 'cherry')

tuple

In [16]:
# convert to list
y = list(x)

# print(list)
print(y)
type(y)

['apple', 'banana', 'cherry']

list

In [17]:
# change item
y[1] = "watermelon"

print(y)

['apple', 'watermelon', 'cherry']

In [18]:
# convert again to tuple
x = tuple(y)

print(x)
type(x)

('apple', 'watermelon', 'cherry')

tuple

In [19]:
# can also convert with append
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

<br>

### Tuple - Length
<hr>
Like with list, tuple can also calculate how many total item that stored in tuple with use <i>len()</i> operator.<br>
rule : <b>len(current_tuple)</b>

In [20]:
num = (1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3, 1, 5, 7, 9, 3)

len(num)

25

In [21]:
alnum = ('banana', 'cherry', 1, 5, 7, 9, 3, 'abc')

len(alnum)

8